{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">
				<div class="row justify-content-center mb-3 pb-3" style="margin-top:100px">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Featured Products</span>
            <h2 class="mb-4">Our Products</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
    	</div>
	<section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
{for i in categories %}


					<div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'images/category-3.jpg' %});">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Juices</a></h2>
							</div>
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'images/category-4.jpg' %});">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Dried</a></h2>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>


{% endblock %}